{% style %}
    .section-{{ section.id }} > div {
        padding: 50px 0 48px;
        overflow: hidden;
    }

    @media screen and (max-width: 750px) {
        .section-{{ section.id }} {
            padding: 0px;
        }
    }
    
    .section-{{ section.id }} h2 {
        padding: 50px 0;
        max-width: 1440px;
        font-family: "Sen";
        font-weight: 600;
        font-size: 45px;
        margin: auto;
        color: #fff;
    }

    .section-{{ section.id }} .swiper {
        overflow: visible;
    }

    .section-{{ section.id }} .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: end;
        transition: height 0.5s ease-in-out !important;
        overflow: hidden;
        position: relative;
    }
    
    .section-{{ section.id }} .swiper-buttons {
        display: flex;
        margin-top: 64px;
        padding: 0 32px 16px;
        gap: 16px;
        justify-content: flex-end;
    }

    .section-{{ section.id }} .swiper-buttons div {
        position: static;
        width: 48px;
        height: 48px;
        padding: 12px;
        background: rgba(255, 255, 255, 0.05);
    }

    .section-{{ section.id}} .collection-slider {
        max-width: 1440px;
        margin: auto;
    }

    .section-{{ section.id }} .swiper-buttons div:after {
        display: none;
    }

    .section-{{ section.id }} .swiper-buttons div[aria-disabled="true"] {
        opacity: 0.5;
    }

    .section-{{ section.id }} .collection-slider p {
        font-family: "Inter";
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #c9c9cc;
        margin: 0;
        padding: 24px 16px 24px 32px;
    }
    
    .section-{{ section.id }} .collection-slider p strong {
        font-weight: 700;
        color: #fff;
    }

    @media screen and (max-width: 1025px) {
        .section-{{ section.id }} > div {
            padding: 40px 16px;
        }

        .section-{{ section.id }} h2 {
            margin-bottom: 32px;
            font-size: 36px;
            padding: 0;
        }
        
        .section-{{ section.id }} .swiper-buttons {
            margin-top: 32px;
        }

        .section-{{ section.id }} .collection-slider p {
            padding: 24px 12px 24px 16px;
        }
    }

    @media screen and (max-width: 750px) {
        .section-{{ section.id }} .swiper-buttons div {
            width: 40px;
            height: 40px;
            padding: 8px;
        }
    }
{% endstyle %}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<section class="section-{{ section.id }} section section--page-width color-{{ section.settings.color_scheme }}">
    <div>
        <h2>{{ section.settings.heading }}</h2>
        <div class="collection-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        <div class="swiper-slide">
                            <img srcset="{{ block.settings.image | image_url: width: 400 }} 400w, {{ block.settings.image | image_url: width: 800 }} 800w, {{ block.settings.image | image_url: width: 1200 }} 1200w" sizes="(max-width: 768px) 80vw, 50vw" src="{{ block.settings.image | image_url: width: 800 }}" width="100%" height="100%" loading="lazy" alt="collection slider {{ forloop.index }}">
                            <p>{{ block.settings.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-buttons">
                <div class="swiper-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_4030_26868)">
                            <path d="M15 19.5L7.5 12L15 4.5" stroke="#c9c9cc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_4030_26868">
                                <rect width="24" height="24" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_4030_26872)">
                            <path d="M9 4.5L16.5 12L9 19.5" stroke="#c9c9cc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_4030_26872">
                                <rect width="24" height="24" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const swiper = new Swiper('.swiper', {
        slidesPerView: 1.3,
        spaceBetween: 10,
        breakpoints: {
            768: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            1024: {
                slidesPerView: 2.2,
                spaceBetween: 30,
            },
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
  });
</script>

{% schema %}
{
    "name": "Collection List Slider",
    "settings": [
        {
        "type": "text",
        "id": "heading",
        "label": "Slider Title"
        },
        {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:settings.color_scheme",
        "default": "scheme-1"
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "Block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection List Slider"
        }
    ]
}
{% endschema %}