{% style %}
     .section-{{ section.id }} {
         padding-top: {{ section.settings.padding_top }}px;
         padding-bottom: {{ section.settings.padding_bottom }}px;
         overflow: hidden;
     }

     .section-{{ section.id }} h2 {
         font-family: "Sen";
         font-weight: 600;
         font-size: 40px;
         color: #fff;
         width: 100%;
         max-width: 1440px;
         margin: auto;
         /* padding: 0 32px; */
         margin-bottom: 80px;
     }

     .section-{{ section.id }} .product-slider {
         margin-bottom: 80px;
         max-width: 1440px;
         width: 100%;
         margin: auto;
     }

     .section-{{ section.id }} .product-swiper {
         overflow: visible;
     }

     .section-{{ section.id }} .swiper-slide {
         display: flex;
         flex-direction: column;
         justify-content: end;
         transition: height 0.5s ease-in-out !important;
         overflow: hidden;
         position: relative;
     }

     .section-{{ section.id }} .swiper-slide img {
         width: 100%;
         object-fit: cover;
     }

     .section-{{ section.id }} .product-description {
         width: 100%;
         max-width: 1440px;
         padding: 20px 0px;
         margin: auto;
     }

     .section-{{ section.id }} .product-info.active {
         color: #fff;
         border-bottom: 1.5px solid #fff;
     }

     .section-{{ section.id }} .product-description-span {
         display: none;
         font-family: "Inter";
         font-weight: 400;
         font-size: 18px;
         color: #c9c9cc;
         flex-direction: column;
         gap: 32px;
         max-width: 1440px;
         margin: auto;
     }

     .section-{{ section.id }} .product-description-span a {
         color: var(--xinzuo-accent, #FFD380);
     }

     .section-{{ section.id }} .product-description-span.active {
         display: flex;
     }

     .section-{{ section.id }} .collection-products {
         position: relative;
         margin-bottom: 56px;
         overflow: hidden;
     }

     .section-{{ section.id }} .collection-products ul {
         padding: 0;
         border-bottom: 1px solid #c9c9cc;
         display: flex;
         gap: 48px;
         list-style: none;
         width: fit-content;
         margin: auto;
         transform: translate(0);
         transition: transform 0.3s ease;
     }

     .section-{{ section.id }} .collection-products ul li {
         padding: 16px 0;
         font-family: "Sen";
         font-weight: 600;
         font-size: 28px;
         color: #c9c9cc;
         cursor: pointer;
         white-space: nowrap;
     }

     .section-{{ section.id }} .collection-products-div1 {
         position: absolute;
         top: 0;
         height: 100%;
         padding: 12px;
         align-items: center;
         background: #212121;
         backdrop-filter: blur(2px);
         left: 0;
         display: none;
         cursor: pointer;
     }

     .section-{{ section.id }} .collection-products-div2 {
         position: absolute;
         top: 0;
         height: 100%;
         padding: 12px;
         display: flex;
         align-items: center;
         background: #212121;
         backdrop-filter: blur(2px);
         right: 0;
         cursor: pointer;
     }

     .section-{{ section.id }} .product-info4-footer {
         padding: 24px 32px;
         display: flex;
         gap: 80px;
         margin-top: 40px;
     }

     .section-{{ section.id }} .product-info4-footer > div {
         width: 50%;
     }

     .section-{{ section.id }} .product-info4-div {
         width: 100%;
         max-width: 360px;
         display: flex;
         flex-direction: column;
         gap: 32px;
     }

     .section-{{ section.id }} .product-info4-div div {
         width: 100%;
         max-width: 320px;
         height: 1px;
         background-color: var(--xinzuo-accent, #FFD380);
     }

     .section-{{ section.id }} .product-info4-div img {
         width: 48px;
         height: 48px;
     }

     .section-{{ section.id }} .product-info4-div span {
         font-family: "Inter";
         font-weight: 400;
         font-size: 18px;
         color: #c9c9cc;
         line-height: 150%;
     }

     .section-{{ section.id }} .product-info4-div strong {
         font-weight: 700;
         color: #fff;
     }

     .section-{{ section.id }} .collection-products-ul {
         transition: transform 0.3s ease;
     }

     {% if section.settings.width == "full" %}
         .section-{{ section.id }} {
             padding-left: 0 !important;
             padding-right: 0 !important;
         }
     {% endif %}

     @media screen and (max-width: 1025px) {
         .section-{{ section.id }} .slider-header h2 {
             font-size: 36px;
         }
     }

     @media screen and (max-width: 950px) {
        .section-{{ section.id }} {
          padding-left: 0px;
          padding-right: 0px;
        }
     }

     @media screen and (max-width: 750px) {
         .section-{{ section.id }} {
             padding-top: 0;
             padding-bottom: 0;
         }

         .section-{{ section.id }} .swiper-buttons {
             margin-top: 32px;
         }

         .section-{{ section.id }} .swiper-buttons div {
             width: 40px;
             height: 40px;
             padding: 8px;
         }

         .section-{{ section.id }} .slider-header p {
             font-size: 16px;
         }

         .section-{{ section.id }} .swiper-slide h2 {
             font-size: 18px;
         }

         .section-{{ section.id }} .product-price span.prices {
             font-size: 22px;
         }

         .section-{{ section.id }} .product-price span.compare-prices {
             font-size: 19px;
         }

         .section-{{ section.id }} .collection-products ul li {
             font-size: 16px;
             padding: 12px 0;
         }

         .section-{{ section.id }} .collection-products-div1 {
             padding: 8px;
         }

         .section-{{ section.id }} .prodcut-products-div2 {
             padding: 8px;
         }

         .section-{{ section.id }} .product-info4-footer {
             flex-direction: column;
             padding: 0;
             gap: 48px;
         }

         .section-{{ section.id }} .product-info4-footer > div {
             width: 100%;
         }

         .section-{{ section.id }} .product-description {
             display: none;
         }

         .section-{{ section.id }} .product-slider {
             margin-bottom: 0;
             padding: 0;
         }
     }


     .section-{{ section.id }} .swiper-slide h2 {
         padding: 24px 12px 0;
         margin: 0;
         font-family: "Sen";
         font-weight: 600;
         font-size: 36px;
         color: #fff;
         display: none;
     }

     .section-{{ section.id }} .swiper-slide img {
         width: 100%;
         object-fit: cover;
     }

     .section-{{ section.id }} .swiper-buttons {
         display: flex;
         margin-top: 64px;
         padding: 0 32px 16px;
         gap: 16px;
         justify-content: flex-end;
     }

     .section-{{ section.id }} .swiper-buttons div {
         position: static;
         width: 48px;
         height: 48px;
         padding: 12px;
         background: rgba(255, 255, 255, 0.05);
     }

     .section-{{ section.id }} .swiper-buttons div:after {
         display: none;
     }

     .section-{{ section.id }} .swiper-buttons div[aria-disabled="true"] {
         opacity: 0.5;
     }

     .section-{{ section.id }} .swiper-slide .jdgm-widget {
         display: none !important;
     }

     .section-{{ section.id }} .jdgm-prev-badge__text {
         font-family: "Inter";
         font-weight: 400;
         font-size: 18px;
         color: #c9c9cc;
     }

     .section-{{ section.id }} .collection-price {
         display: none;
         align-items: center;
         justify-content: space-between;
         padding: 0 12px;
     }

     .section-{{ section.id }} .collection-price span.prices {
         font-family: "Sen";
         font-weight: 600;
         font-size: 36px;
         color: #fff
     }

     .section-{{ section.id }} .collection-price span.compare-price {
         font-size: 22px;
         text-decoration: line-through;
         color: #828282;
     }

     .section-{{ section.id }} .collection-link {
         display: flex;
         align-items: center;
         gap: 10px;
         font-family: "Sen";
         font-size: 16px;
         font-weight: 600;
         color: #fff;
         line-height: 150%;
         padding: 10px 0;
         border-bottom: 1px solid #c9c9cc;
     }

     .section-{{ section.id }} .relative-product {
         position: relative;
     }

     .section-{{ section.id }} .relative-product .price-off {
         position: absolute;
         background-color: var(--xinzuo-red, #C81E1E);
         padding: 5px 10px;
         border-radius: 16px;
         top: 10px;
         left: 15px;
         font-size: 12px;
         color: #fff;
     }

      @media screen and (max-width: 1025px) {

     .section-{{ section.id }} .collection-price span.prices {
             font-size: 22px;
         }
      }

     @media screen and (max-width: 1025px) {
         .section-{{ section.id }} .swiper-slide h2 {
             font-size: 22px;
         }

         .section-{{ section.id }} .collection-price span.compare-price {
             font-size: 19px;
         }

         .section-{{ section.id }} .jdgm-prev-badge__text {
             font-size: 16px;
         }
     }

     @media screen and (max-width: 750px) {
         .section-{{ section.id }} .swiper-buttons {
             margin-top: 32px;
         }

         .section-{{ section.id }} .swiper-buttons div {
             width: 40px;
             height: 40px;
             padding: 8px;
         }

         .section-{{ section.id }} > div {
             padding: 48px 16px;
         }

         .section-{{ section.id }} h2 {
             font-size: 28px;
             line-height: 125%;
             margin-bottom: 12px;
             padding:0;
         }

         .section-{{ section.id }} .swiper-slide h2 {
             display: block;
         }

         .section-{{ section.id }} .swiper-slide .jdgm-widget {
             display: block !important;
         }

         .section-{{ section.id }} .collection-price {
             display: flex;
         }

         .section-{{ section.id }} .prices {
             width: 80px;
         }
     }
{% endstyle %}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<section class="section-{{ section.id }} section section--page-width color-{{ section.settings.color_scheme }}">
  {% if section.settings.heading != blank %}
    <h2>{{ section.settings.heading }}</h2>
  {% endif %}
  {% assign collection = nil %}
  {% for c in product.collections %}
    {% if c.handle contains 'series' %}
      {% assign collection = c %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% unless collection %}
    {% assign collection = product.collections.first %}
  {% endunless %}
  {% if collection.products.size > 3 %}
    <div class="product-slider">
      <div class="product-swiper">
        <div class="swiper-wrapper">
          {% for product in collection.products %}
            <div class="swiper-slide swiper-slide-{{ forloop.index }}">
              <a href="{{ product.url }}" class="relative-product">
                <img
                  src="{{ product.featured_image | image_url: width: 800 }}"
                  loading="lazy"
                  alt="{{ product.title | escape }}"
                >
                {% if product.compare_at_price and product.compare_at_price > product.price %}
                  {% assign discount = product.compare_at_price | minus: product.price %}
                  {% assign percent = discount | times: 100 | divided_by: product.compare_at_price %}
                  <span class="price-off">{{ percent }}% OFF</span>
                {% endif %}
              </a>
              <h2>{{ product.title | strip_html | truncate: 20, '...' }}</h2>
              <!-- Start of Judge.me Rating Widget -->
              <div
                class="jdgm-widget jdgm-preview-badge"
                data-id="{{ collection.id }}"
                data-auto-install="false"
                style="padding: 12px;"
              >
                {{ product.metafields.judgeme.badge }}
              </div>
              <!-- End of Judge.me Rating Widget -->
              <div class="collection-price">
                <span class="prices">
                  <span class="sale-price">{{ product.price | money }}</span>
                  <span class="compare-price">{{ product.compare_at_price | money }}</span>
                </span>
                <a class="collection-link" href="{{ product.url }}">
                  <span>SHOP NOW</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <g clip-path="url(#clip0_6018_26691)">
                        <path d="M5 15L15 5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.875 5H15V13.125" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_6018_26691">
                        <rect width="20" height="20" fill="white"/>
                        </clipPath>
                    </defs>
                  </svg>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="product-description">
    <div class="collection-products">
      <ul class="collection-products-ul">
        {% for product in collection.products %}
          <li
            class="product-info product-info-{{ forloop.index }} {% if forloop.index == 1 %}active{% endif %}"
            onclick="productslider({{ forloop.index }})"
          >
            {{ product.title }}
          </li>
        {% endfor %}
      </ul>
      <div class="collection-products-div1" onclick="productUlPrev()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
          <g clip-path="url(#clip0_4235_8014)">
              <path d="M12.5 3.91602L6.25 10.166L12.5 16.416" stroke="#c9c9cc" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
              <clipPath id="clip0_4235_8014">
                  <rect width="20" height="20" fill="white" transform="translate(0 0.166016)"/>
              </clipPath>
          </defs>
        </svg>
      </div>
      <div class="collection-products-div2" onclick="productUlNext()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
          <g clip-path="url(#clip0_4235_8014)">
              <path d="M7.5 3.91602L13.75 10.166L7.5 16.416" stroke="#c9c9cc" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
              <clipPath id="clip0_4235_8014">
                  <rect width="20" height="20" fill="white" transform="translate(0 0.166016)"/>
              </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    {% for product in collection.products %}
      <div class="product-description-span product-slider-{{ forloop.index }} {% if forloop.index == 1 %}active{% endif %}">
        <span>{{ product.description }}</span>
      </div>
    {% endfor %}
    {% if section.settings.footer_state %}
      <div class="product-info4-footer">
        <div>
          <div class="product-info4-div">
            <div></div>
            <img src="{{ section.settings.footer-img1 | image_url: width: 800 }}" alt="{{ section.settings.footer_content1 | strip_html | truncate: 100 | default: 'Product feature icon' }}">
            <span>{{ section.settings.footer_content1 }}</span>
          </div>
        </div>
        <div>
          <div class="product-info4-div">
            <div></div>
            <img src="{{ section.settings.footer-img2 | image_url: width: 800 }}" alt="{{ section.settings.footer_content2 | strip_html | truncate: 100 | default: 'Product feature icon' }}">
            <span>{{ section.settings.footer_content2 }}</span>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const productswiper = new Swiper('.product-swiper', {
      slidesPerView: 1.5,
      spaceBetween: 10,
      breakpoints: {
        750: {
          slidesPerView: 2.5,
          spaceBetween: 20,
        },
        1440: {
          slidesPerView: 3.5,
          spaceBetween: 30,
        },
      },
    });
  });

  const productslider = (num) => {
    const products = document.querySelectorAll('.product-info');
    const productInfos = document.querySelectorAll('.product-description-span');
    const cards = document.querySelectorAll('.swiper-slide');
    const product = document.querySelector(`.product-info-${num}`);
    const productInfo = document.querySelector(`.product-slider-${num}`);
    const card = document.querySelector(`.swiper-slide-${num}`);

    products.forEach((product) => {
      product.classList.remove('active');
    });
    productInfos.forEach((productInfo) => {
      productInfo.classList.remove('active');
    });
    product.classList.add('active');
    productInfo.classList.add('active');
  };

  const btn = document.querySelector('.collection-products-div2');
  const btn_width = btn.offsetWidth;

  const changeBtn = () => {
    const ul = document.querySelector('.collection-products-ul');
    const prevBtn = document.querySelector('.collection-products-div1');
    const nextBtn = document.querySelector('.collection-products-div2');
    let currentPosition;
    if (ul.style.transform != '') currentPosition = parseFloat(ul.style.transform.match(/-?\d+\.?\d*/)[0]);
    else currentPosition = 0;
    if (ul.parentElement.offsetWidth > ul.offsetWidth) {
      prevBtn.style.display = 'none';
      nextBtn.style.display = 'none';
    } else {
      if (-ul.parentElement.offsetWidth + ul.scrollWidth + currentPosition + btn_width < 0) {
        ul.style.transform = `translate(${ul.parentElement.offsetWidth - ul.scrollWidth - btn_width}px)`;
        nextBtn.style.display = 'none';
      }
      if (currentPosition > 0) {
        ul.style.transform = `translate(0)`;
        prevBtn.style.display = 'none';
      }
    }
  };

  const productUlNext = () => {
    const prevBtn = document.querySelector('.collection-products-div1');
    const nextBtn = document.querySelector('.collection-products-div2');
    const ul = document.querySelector('.collection-products-ul');
    let currentPosition;
    if (ul.style.transform != '') currentPosition = parseFloat(ul.style.transform.match(/-?\d+\.?\d*/)[0]);
    else currentPosition = 0;
    ul.style.transform = `translate(${currentPosition - 200}px)`;
    prevBtn.style.display = 'flex';
    changeBtn();
  };

  const productUlPrev = () => {
    const prevBtn = document.querySelector('.collection-products-div1');
    const nextBtn = document.querySelector('.collection-products-div2');
    const ul = document.querySelector('.collection-products-ul');
    let currentPosition;
    if (ul.style.transform != '') currentPosition = parseFloat(ul.style.transform.match(/-?\d+\.?\d*/)[0]);
    else currentPosition = 0;
    ul.style.transform = `translate(${currentPosition + 200}px)`;
    nextBtn.style.display = 'flex';
    changeBtn();
  };

  changeBtn();
</script>

{% schema %}
{
  "name": "Product Info4",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "options": [
        {
          "label": "Page",
          "value": "page"
        },
        {
          "label": "Full",
          "value": "full"
        }
      ],
      "default": "page"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 30,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 30,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 80
    },
    {
      "type": "checkbox",
      "id": "footer_state",
      "label": "Footer State",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "footer-img1",
      "label": "Footer Image1",
      "visible_if": "{{ section.settings.footer_state }}"
    },
    {
      "type": "richtext",
      "id": "footer_content1",
      "label": "Footer Content1",
      "visible_if": "{{ section.settings.footer_state }}"
    },
    {
      "type": "image_picker",
      "id": "footer-img2",
      "label": "Footer Image2",
      "visible_if": "{{ section.settings.footer_state }}"
    },
    {
      "type": "richtext",
      "id": "footer_content2",
      "label": "Footer Content2",
      "visible_if": "{{ section.settings.footer_state }}"
    }
  ],
  "presets": [
    {
      "name": "Product Info4"
    }
  ]
}
{% endschema %}
