{% style %}
    .section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        {% if section.settings.background_type == "color" %}
            background-color: #292a33 !important;
        {% elsif section.settings.background_type == "gradient" %}
            background: linear-gradient(0deg, #0C0C0C 0%, #292A33 99.48%) !important;
        {% endif %}
    }

    .section-{{ section.id }} > div {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .section-{{ section.id }} h2 {
        font-family: "Sen";
        font-weight: 600;
        font-size: 64px;
        color: #fff;
        width: 100%;
        max-width: 1080px;
        padding: 0 32px;
        margin: auto;
    }

    .section-{{ section.id }} .product-info5 h2 {
        padding: 16px 32px;
        width: 100%;
        max-width: 1080px;
        margin: auto;
        font-family: "Sen";
        font-weight: 600;
        font-size: 36px;
        color: #fff;
    }

    .section-{{ section.id }} .product-info5-blocks {
        width: 100%;
        max-width: 1080px;
        margin: auto;
        padding: 24px 32px;
        display: flex;
        gap: 80px;
    }

    .section-{{ section.id }} .product-info5-block {
        width: 33%;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .section-{{ section.id }} .product-info5-block img {
        width: 32px;
        height: 32px;
    }

    .section-{{ section.id }} .product-info5-block span {
        font-family: "Inter";
        font-weight: 400;
        font-size: 18px;
        color: #c9c9cc;
        line-height: 150%;
    }

    .section-{{ section.id }} .product-info5-block strong {
        font-weight: 700;
        color: #fff;
    }

    {% if section.settings.width == "full" %}
        .section-{{ section.id }} {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    {% endif %}

    @media screen and (max-width: 1025px) {
        .section-{{ section.id }} h2 {
            font-size: 36px;
        }

        .section-{{ section.id }} .product-info5 h2 {
            font-size: 22px;
        }

        .section-{{ section.id }} .product-info5-blocks {
            gap: 48px;
        }
    }

    @media screen and (max-width: 750px) {
        .section-{{ section.id }} .product-info5-blocks {
            flex-direction: column;
        }

        .section-{{ section.id }} .product-info5-block {
            width: 100%;
        }
    }
{% endstyle %}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<section class="section-{{ section.id }} section section--page-width color-{{ section.settings.color_scheme }}">
    <div>
        <h2>{{ section.settings.heading }}</h2>
        {% for block in section.blocks %}
            <div class="product-info5">
                <h2>{{ block.settings.title }}</h2>
                <div class="product-info5-blocks">
                    <div class="product-info5-block">
                        <img src="{{ block.settings.image1 | image_url: width: 800 }}" alt="{{ block.settings.content1 | strip_html | truncate: 80 | default: 'Product feature' | escape }}">
                        <span>{{ block.settings.content1 }}</span>
                    </div>
                    <div class="product-info5-block">
                        <img src="{{ block.settings.image2 | image_url: width: 800 }}" alt="{{ block.settings.content2 | strip_html | truncate: 80 | default: 'Product feature' | escape }}">
                        <span>{{ block.settings.content2 }}</span>
                    </div>
                    <div class="product-info5-block">
                        <img src="{{ block.settings.image3 | image_url: width: 800 }}" alt="{{ block.settings.content3 | strip_html | truncate: 80 | default: 'Product feature' | escape }}">
                        <span>{{ block.settings.content3 }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "Product Info5",
    "settings": [
        {
            "type": "select",
            "id": "width",
            "label": "Width",
            "options": [
                {
                    "label": "Page",
                    "value": "page"
                },
                {
                    "label": "Full",
                    "value": "full"
                }
            ],
            "default": "page"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "select",
            "id": "background_type",
            "label": "Background Type",
            "options": [
                {
                    "label": "Color",
                    "value": "color"
                },
                {
                    "label": "Gradient",
                    "value": "gradient"
                },
                {
                    "label": "None",
                    "value": "none"
                }
            ],
            "default": "none"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:settings.color_scheme",
            "default": "scheme-1"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding Top",
            "min": 30,
            "max": 120,
            "step": 2,
            "unit": "px",
            "default": 80
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "min": 30,
            "max": 120,
            "step": 2,
            "unit": "px",
            "default": 80
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "Block",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "image_picker",
                    "id": "image1",
                    "label": "Image1"
                },
                {
                    "type": "richtext",
                    "id": "content1",
                    "label": "Content1"
                },
                {
                    "type": "image_picker",
                    "id": "image2",
                    "label": "Image2"
                },
                {
                    "type": "richtext",
                    "id": "content2",
                    "label": "Content2"
                },
                {
                    "type": "image_picker",
                    "id": "image3",
                    "label": "Image3"
                },
                {
                    "type": "richtext",
                    "id": "content3",
                    "label": "Content3"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Product Info5"
        }
    ]
}
{% endschema %}