{% style %}
    .section-{{ section.id }} {
        padding: 80px 32px 0;
        background-color: #292a33;
        border-radius: 16px;
    }

    .section-{{ section.id }} .product-series2 {
        padding: 64px 0;
    }

    .section-{{ section.id }} .product-series2-header {
        display: flex;
        justify-content: space-between;
        max-width: 1160px;
        width: 100%;
        margin: auto;
        margin-bottom: 24px;
    }

    .section-{{ section.id }} span {
        font-family: "Inter";
        font-weight: 400;
        font-size: 18px;
        color: #c9c9cc;
        line-height: 150%;
    }

    .section-{{ section.id }} strong {
        font-weight: 700;
        color: #fff;
    }

    .section-{{ section.id }} h2 {
        font-family: "Sen";
        font-weight: 600;
        font-size: 48px;
        color: #fff;
        line-height: 130%;
        margin: 0;
    }

    .section-{{ section.id }} p {
        margin: 0;
    }

    .section-{{ section.id }} .product-series2-header div {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .section-{{ section.id }} .product-series2-header > span {
        font-family: "Sen";
        font-weight: 600;
        font-size: 22px;
        color: #c9c9cc;
        line-height: 140%;
    }

    .section-{{ section.id }} .product-series-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        max-width: 1160px;
        width: 100%;
        margin: auto;
        margin-bottom: 64px;    
    }

    .section-{{ section.id }} .product-series-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% / 3 - 32px / 3);
        background-color: #292a33;
        height: 245px;
        padding: 20px 26px;
        text-align: center;
    }

    .section-{{ section.id }} .product-series-block:last-child {
        background-color: #000;
    }

    .section-{{ section.id }} .product-series-block img {
        height: 80px;
        object-fit: cover;
    }

    .section-{{ section.id }} .product-series-block .icon {
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }

    .section-{{ section.id }} .product-series-footer {
        max-width: 1160px;
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .section-{{ section.id }} .product-series-footer img {
        width: auto;
        height: 32px;
        margin: auto;
        margin-bottom: 14px;
    }

    .section-{{ section.id }} .product-series-footer span {
        display: block;
        margin-bottom: 16px;
    }

    .section-{{ section.id }} .product-series-footer a {
        color: var(--xinzuo-accent, #FFD380);
    }

    {% if section.settings.width == "full" %}
        .section-{{ section.id }} {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    {% endif %}

    @media screen and (max-width: 1025px) {
        .section-{{ section.id }} h2 {
            font-size: 36px;
        }

        .section-{{ section.id }} .product-series2-header div {
            gap: 24px;
        }

        .section-{{ section.id }} .product-series-block {
            width: calc(50% - 8px);
        }

        .section-{{ section.id }} product-series2-header p {
            font-size: 19px;
        }
    }

    @media screen and (max-width: 750px) {
        .section-{{ section.id }} .product-series-block {
            width: 100%;
        }

        .section-{{ section.id }} .product-series2-header {
            flex-direction: column;
        }
        
        .section-{{ section.id }} .product-series2-header div {
            margin-bottom: 24px;
        }
    }
{% endstyle %}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<section class="section-{{ section.id }} section section--page-width color-{{ section.settings.color_scheme }}">
    <div class="product-series2">
        <div class="product-series2-header">
            <div>
                <span>{{ section.settings.header_title }}</span>
                <span>{{ section.settings.header_left }}</span>
            </div>
            <span style="text-align: end;">{{ section.settings.header_right }}</span>
        </div>
        <div class="product-series-grid">
            {% for block in section.blocks %}
                <div class="product-series-block" {% if block.settings.image_type == "background" and block.settings.image != blank %}style="background-image: url({{ block.settings.image | image_url: width: 800 }});background-size: 100% 100%;justify-content: flex-end"{% endif %}>
                    {% if block.settings.image != blank and block.settings.image_type != "background" %}
                        <img src="{{ block.settings.image | image_url: width: 800 }}" width="100%" height="100%" alt="{{ block.settings.content | strip_html | truncate: 100 | default: 'Product feature icon' }}" {% if block.settings.image_type == "icon" %}class="icon"{% endif %}>
                    {% endif %}
                    {% if forloop.index == 2 %}
                        <span>Up to</span>
                        <h2>62 HRC</h2>
                        <h2 style="display: flex;align-items: flex-end;gap: 20px;">
                            harder
                            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
                                <g clip-path="url(#clip0_6018_39012)">
                                    <path d="M43.1994 19.2499L31.6047 7.5761C28.5081 4.48567 24.3119 2.75 19.937 2.75C15.5621 2.75 11.3659 4.48567 8.26923 7.5761L8.25376 7.59157L5.88705 10.0374C5.64188 10.3008 5.50978 10.6499 5.51912 11.0097C5.52846 11.3695 5.67848 11.7112 5.93698 11.9616C6.19548 12.2121 6.54186 12.3511 6.90175 12.349C7.26164 12.3469 7.60635 12.2038 7.86189 11.9503L10.2217 9.51313C11.1712 8.56391 12.2546 7.759 13.4375 7.12407L21.4297 15.1249L4.9297 31.6249C4.67427 31.8802 4.47165 32.1834 4.33341 32.5171C4.19518 32.8508 4.12402 33.2084 4.12402 33.5696C4.12402 33.9308 4.19518 34.2885 4.33341 34.6221C4.47165 34.9558 4.67427 35.259 4.9297 35.5144L8.4858 39.0705C8.74116 39.3259 9.04435 39.5285 9.37804 39.6668C9.71172 39.805 10.0694 39.8762 10.4306 39.8762C10.7917 39.8762 11.1494 39.805 11.4831 39.6668C11.8168 39.5285 12.12 39.3259 12.3753 39.0705L28.8753 22.5705L34.3753 28.0705C34.6307 28.3259 34.9339 28.5285 35.2676 28.6668C35.6013 28.805 35.9589 28.8762 36.3201 28.8762C36.6813 28.8762 37.0389 28.805 37.3726 28.6668C37.7063 28.5285 38.0095 28.3259 38.2649 28.0705L43.196 23.1394C43.4516 22.8842 43.6545 22.5812 43.793 22.2477C43.9316 21.9141 44.003 21.5565 44.0033 21.1953C44.0037 20.8341 43.9328 20.4764 43.7949 20.1426C43.6569 19.8088 43.4546 19.5054 43.1994 19.2499ZM27.9025 19.6503L24.0628 23.49L20.5067 19.9374L24.3481 16.0959C24.476 15.9682 24.5774 15.8166 24.6466 15.6497C24.7158 15.4828 24.7514 15.3038 24.7514 15.1231C24.7514 14.9424 24.7158 14.7635 24.6466 14.5966C24.5774 14.4297 24.476 14.278 24.3481 14.1503L16.2116 6.01548C18.5624 5.35341 21.0471 5.32941 23.4102 5.94595C25.7734 6.56248 27.9296 7.79731 29.6574 9.52345L37.2577 17.1736L32.3128 22.1133L29.8481 19.6486C29.7204 19.5208 29.5688 19.4193 29.4019 19.3501C29.2349 19.281 29.056 19.2453 28.8753 19.2453C28.6946 19.2453 28.5157 19.281 28.3488 19.3501C28.1819 19.4193 28.0302 19.5208 27.9025 19.6486V19.6503ZM36.3244 26.1231L34.2619 24.0606L39.1878 19.1209L41.2503 21.1834L36.3244 26.1231Z" fill="#FFD380"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_6018_39012">
                                        <rect width="44" height="44" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </h2>
                    {% endif %}
                    <span>{{ block.settings.content }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="product-series-footer">
            <img src="{{ section.settings.footer_img | image_url: width: 800 }}" width="100%" height="100%" alt="{{ product.title | default: 'Xinzuo' }} series logo">
            <span>{{ section.settings.footer_content }}</span>
            <a href="{{ routes.collections_url }}">Shop the {{ product.title }} ›</a>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Product Series2",
    "settings": [
        {
            "type": "select",
            "id": "width",
            "label": "Width",
            "options": [
                {
                    "label": "Page",
                    "value": "page"
                },
                {
                    "label": "Full",
                    "value": "full"
                }
            ],
            "default": "page"
        },
        {
            "type": "richtext",
            "id": "header_title",
            "label": "Header Title"
        },
        {
            "type": "richtext",
            "id": "header_left",
            "label": "Header Left"
        },
        {
            "type": "richtext",
            "id": "header_right",
            "label": "Header Right"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:settings.color_scheme",
            "default": "scheme-1"
        },
        {
            "type": "image_picker",
            "id": "footer_img",
            "label": "Footer Logo"
        },
        {
            "type": "text",
            "id": "footer_content",
            "label": "Footer Content"
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "Block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "image_type",
                    "label": "Image Type",
                    "options": [
                        {
                            "label": "Icon",
                            "value": "icon"
                        },
                        {
                            "label": "Background",
                            "value": "background"
                        },
                        {
                            "label": "Normal",
                            "value": "normal"
                        }
                    ],
                    "default": "normal"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Product Series2"
        }
    ]
}
{% endschema %}